%% coding: latin-1 %% Erlang/OTP 17.0之后erlang程序文件的代码中有中文必须加这个

%% 输入目录
{in_dir, "example/week_report/input/"}.
%% 输出目录
{out_dir, "example/week_report/output/"}.

{web_report, 
    "手机银行金融前置",                                             % 表格名
    ["预期指标", "预警指标", "巡检指标", "说明"],                   % 列编号
    ["CPU使用率", "内存使用率", "交换空间使用率", 
     "文件空间使用率/logs", "应用进程数量（单台服务器）"],          % 行编号
    [["<40%","<65%",undefined,"正常"],
     ["<70%","<70%",undefined,"正常"],
     ["<20%","<50%",undefined,"正常"],
     ["<60%","<70%",undefined,"正常"],
     ["1","-","1","正常"]]                                          % 矩阵中的值
}.

{app_report,
    "手机银行金融应用",                                             % 表格名
    ["预期指标", "预警指标", "巡检指标", "说明"],                   % 列编号
    ["CPU使用率", "内存使用率", "交换空间使用率", 
     "文件空间使用率/logs", "应用服务器有效连接数", 
     "应用进程数量（单台服务器）"],                                 % 行编号
    [["<40%","<65%",undefined,"正常"],
     ["<70%","<75%",undefined,"正常"],
     ["<20%","<50%",undefined,"正常"],
     ["<60%","<70%",undefined,"正常"],
     ["<400","-",undefined,"正常"],
     ["1","-","1","正常"]]                                          % 矩阵中的值
}.

{the_rest_report,
    "手机银行其他应用",                                             % 表格名
    ["预期指标", "预警指标", "巡检指标", "说明"],                   % 列编号
    ["CPU使用率", "内存使用率", "交换空间使用率", 
     "文件空间使用率/logs", "应用进程数量（单台服务器）"],          % 行编号
    [["<40%","<65%",undefined,"正常"],
     ["<70%","<75%",undefined,"正常"],
     ["<20%","<50%",undefined,"正常"],
     ["<60%","<70%",undefined,"正常"],
     ["1","-","1","正常"]]                                          % 矩阵中的值
}.


{db_report,
    "手机银行数据库",                                               % 表格名
    ["预期指标", "预警指标", "巡检指标", "说明"],                   % 列编号
    ["CPU使用率", "内存使用率", "交换空间使用率", 
     "文件空间使用率/oracle", "数据库活动会话数"],                    % 行编号
    [["<40%","<65%",undefined,"正常"],
     ["<70%","<75%",undefined,"正常"],
     ["<20%","<50%",undefined,"正常"],
     ["<80%","<85%",undefined,"正常"],
     ["<100","<120","60","正常"]]                                   % 矩阵中的值
}.


{ts_report,
    "使用率接近阈值表空间",                                         % 表格名
    ["预期指标", "预警指标", "巡检指标", "说明"],                   % 列编号
    ["HXLOG"],                                                      % 行编号
    [["<75%","<80%",undefined,"正常"]]                              % 矩阵中的值
}.


{record_report,
    "记录数超过500万库表",                                              % 表格名
    ["记录数","是否自动清理及保留期限","说明",""],                      % 列编号
    ["HXMOBILE.MA_POS_MERCHANT","HXMOBILE.MA_SMAG", 
     "HXMOBILE.MY_OPER_LOGS_HISTORY","HXMOBILE.MY_TRAN_LOGS_HISTORY"],  % 行编号
    [[undefined, "是，3个月","正常",""],
     [undefined,"否","不定期更新数据。",""],
     [undefined,"是，3年","正常",""],
     [undefined,"是，3年","正常",""]]                                   % 矩阵中的值
}.


